@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

label,input,legend,fieldset,textarea{
	margin: 10px;
}

#title,p{
	text-align: center;
}

@media only screen and (max-width:450px){
	body{
		background-color: #FFFFFF;
	}
	
	#wrapper{
		background-image: linear-gradient(30deg,#8bc34a,#90caf9,#f8bbd0);
		width: 80%;
		margin: auto;
		padding: 10px;
	}
	
	#name-label,#email-label,#number-label{
		display: block;
	}
	
	#name,#email,#number{
		width: 70%;
		height: 30px;
	}
	
	#dropdown{
		margin-left: 10px;
	}
	
	#submit{
		border-radius: 20%;
		background-color: #EDCF76;
		text-align: center;
		font-weight: bold;
		width: 100px;
		height: 30px;
		display: block;
		padding: 0;
		margin: auto;
	}
}

@media only screen and (min-width:451px) and (max-width:768px){
	body{
		background-image: linear-gradient(30deg,#cddc39,#4db6ac);
	}
	
	#wrapper{
		width: 80%;
		margin: auto;
		background-image: linear-gradient(30deg,#4db6ac,#cddc39);
		padding: 10px;
		font-family: "Amerigo BT","AR JULIAN","Arial Rounded MT",Helvetica,Arial;
	}
	
	#name-label,#email-label,#number-label{
		float: left;
	}
	
	#name,#email,#number{
		width: 250px;
		height: 30px;
	}
	
	#number,#dropdown{
		margin-left: 20px;
	}
	
	#submit{
		border-radius: 20%;
		background-image: linear-gradient(30deg,#cddc39,#4db6ac);
		text-align: center;
		font-weight: bold;
		width: 100px;
		height: 30px;
		display: block;
		padding: 0;
		margin: auto;
	}
}

@media only screen and (min-width:769px){
	body{
		background-color: #9BFFF7;
	}
	
	#wrapper{
		background-color: #BDBDBD;
		width: 80%;
		margin: auto;
		padding: 15px;
	}
	
	#title{
		color: #9BFFF7;
		height: 50px;
		font-size: 40px;
	}
	
	#name-label,#email-label,#number-label{
		float: left;
	}
	
	#name,#email,#number{
		width: 60%;
		height: 30px;
	}
	
	#number,#dropdown{
		margin: 20px;
	}
	
	#submit{
		border-radius: 20%;
		background-color: #9BFFF7;
		text-align: center;
		font-weight: bold;
		width: 100px;
		height: 30px;
		display: block;
		padding: 0;
		margin: auto;
	}
}